[Unit]
Description=Clover ROS package
Requires=roscore.service

[Service]
User=user
ExecStart=/bin/bash -c ". /home/user/catkin_ws/devel/setup.sh; \
                      ROS_HOSTNAME=`hostname` exec stdbuf -o L roslaunch clover clover.launch --wait --screen --skip-log-check \
                      2> >(tee /tmp/clover.err)"

[Install]
WantedBy=multi-user.target